
/* 회원가입 전체 컨테이너 */
.main-container{
	display: flex;
	justify-content: center;
	margin-top:200px;
}

form{
	width: 340px;
	
}

/* 항목들 각각을 전체로 감싸고 있는 div */
.join-wrap{
	margin-top:10px;
}

/* input과 버튼 감싸고 있는 div (아이디, 이메일, 이메일 인증번호*/
.row-div{
	display: flex;
    justify-content: space-between;
}

.img-div{
	display: flex;
}

img{
	width : 70%;
	margin: auto;
}

/* 아이디, 이메일, 이메일 인증번호 */
.input1{
	display: inline-block;
    width: 80%;
    height: 44px;
    padding: 0 14px 2px;
    color: #000;
    font-size: 14px;
    line-height: 42px;
    letter-spacing: -0.01em;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.2s ease-out;
    outline: none;
}
.input1:hover, .input2:hover{
	border: 1px solid #091b50;
}
/* 비밀번호, 비밀번호 확인 */
.input2{
	display: inline-block;
    width: 100%;
    height: 44px;
    padding: 0 14px 2px;
    color: #000;
    font-size: 14px;
    line-height: 42px;
    letter-spacing: -0.01em;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.2s ease-out;
    outline: none;
}

/* 중복확인, 인증 버튼 */
.btn{
	display: flex;
    justify-content: center;
	width: 19%;
	height: 44px;
	border: 1px solid #c2c2c2;
	border-radius : 6px;
    font-size: 11px;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}
.btn:hover{
	cursor: pointer;
	border: 1px solid #a0a0a0;
    background: #a0a0a0;
}


.joinBtn{
	width : 100%;
    background: #767676;
    border: 1px solid #767676;
    border-radius: 6px;
    height: 49px;
	margin-top:30px;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
	
	color: #fff;
	font-size: 15px;
    font-weight: 600;
}

.joinBtn:hover{
	cursor:pointer;
	background: #595959;
}

/* 경고메세지 */
#idChk-msg, #email-msg, #emailChk-msg, #password-msg, #passChk-msg{
	font-size: 12px;
    color: #cd0000;
}




/* 로그인 */

/* 항목들 각각을 전체로 감싸고 있는 div */
.login-wrap{
	margin-top:10px;
}

input{
	display: inline-block;
    width: 100%;
    height: 44px;
    padding: 0 14px 2px;
    color: #000;
    font-size: 14px;
    line-height: 42px;
    letter-spacing: -0.01em;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.2s ease-out;
    outline: none;
}
input:hover{
	border: 1px solid #091b50;
}

.loginBtn{
	width : 100%;
    background: #767676;
    border: 1px solid #767676;
    border-radius: 6px;
    height: 49px;
	margin-top:30px;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
	
	color: #fff;
	font-size: 15px;
    font-weight: 600;
}

.loginBtn:hover{
	cursor:pointer;
	background: #595959;
}


/* 회원 탈퇴 */

.delete-text-wrap{
	width: 340px;
}

#delete-main-text{
	font-size: 18px;
    font-weight: 800;
}
#delete-sub-text{
	font-size: 12px;
}
.sub-text{
	color:#ee0000;
}

/* 탈퇴 버튼 */
.deleteBtn{
	width : 100%;
    background: #5055b1;;
    border: 1px solid #5055b1;;
    border-radius: 6px;
    height: 49px;
	margin-top:30px;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
	
	color: #fff;
	font-size: 15px;
    font-weight: 600;	
}

.deleteBtn:hover{
	cursor:pointer;
	background: #30347f;
}

/* 돌아가기 버튼 */
.backBtn{
	width : 100%;
    border: 1px solid #5055b1;
    border-radius: 6px;
    height: 49px;
	margin-top:30px;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
	
	color: #5055b1;
	font-size: 15px;
    font-weight: 600;
}
.backBtn:hover{
	cursor:pointer;
	background: #30347f;
	color: #fff;
}

.backBtn-div{
	width : 340px;
}


/* 아이디찾기, 비밀번호 찾기, 회원가입 이동 */
ul{
	font-size: 13px;
	margin-left:20px;
}
.text-wrap{
	margin-bottom: 25px;
}
#info-main-text{
	font-family: 'Jalnan';
    font-size: 20px;
}
#info-text{
    font-size: 15px;
    font-weight: 400;
}
}

/* 공통속성 */
ul{
	display: flex;
	list-style:none;
	text-decoration-line: none;
}

a { 
	text-decoration: none;
	color: gray;
	}
a:visited { 
    text-decoration: none; 
    }
a:hover { 
    text-decoration: none; 
    }
a:focus { 
	text-decoration: none; 
	}
a:hover, a:active { 
	text-decoration: none; 
	}


/* 아이디 찾기 */

/* 아이디 찾기 폼 */
#findId-text{
	font-size:15px;
}

/* 아이디 보이는 페이지 */
.sub-container{
	width: 340px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.idInfo-text{
	font-size: 20px;
}
.id-show{
	color: #5055b1;
    font-weight: 600;
}

.find-idLogin-div{
    margin-top: 17px;
}
.find-idLogin{
	width: 280px;
    border: 1px solid #5055b1;
    border-radius: 6px;
    height: 49px;
    margin-top: 12px;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    color: #5055b1;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0 0 10px;
}

.find-idLogin:hover{
	cursor:pointer;
	background: #30347f;
	color: #fff;
}

.find-idfindPass{
	width: 280px;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    height: 49px;
    margin-top: 12px;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    color: #747474;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -11px 0 0 10px;
}
.find-idfindPass:hover{
	cursor:pointer;
	border: 1px solid #30347f;
	background: #30347f;
	color: #fff;
}
/* 반응형 */
@media screen and (max-width:500px) {
	.main-container{
		width:500px;
	}


}