body h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 24px;
	font-style: bold;
	color: #545454;
	font-family: 'Jalnan';
}

.book_list {
    height: 360px;
    margin: 0 115px 0 0;
}

.title {
	width: 150px;
    margin: auto;
    margin-top: 5px;
}

#product_order_list {
	text-align: center;
	margin-bottom: 50px;
}

#product_order_list a {
	color: black;	
}

#line {
	margin: 10px 15% 18px;
	padding: 0;
	border-top: 2px solid #6c71ce;
}

#line2 {
	margin: 10px 15% 18px;
	padding: 0;
	border-top: 2px solid #e7e7e7;
}

.products {
	display: table;
    margin: 0 auto 0 25%;
	padding: 0;
    width: 70%;
	text-align: center;
	font-family: 'AppleSDGothicNeo';
}

.img-div{
	width: 155px;
    height: 210px;
}
.products img {
	width: 100%;

}

.products a {
	text-decoration: none;
	color: black;
	float: left;
	font-size: 16px;
}

.products p {
	margin-top: 4px;
	margin-bottom: 10px;
	font-family: 'AppleSDGothicNeo';
}




.clearfix {
	clear: both;
}

.page_btn {
	padding: 4px;
    margin-right: 3px;
    margin-top: 50px;
    color: #ffffff;
    font: bold 12px tahoma;
    border: 1px solid #eee;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 7px;
    background-color: #2bc5c1;
}
.page_btn:hover {
	color: #ffffff;
    border: 1px solid #000;
    background-color: #000;
}

.listItem {
	width: 180px;
}

.star_avg {
	color: red;
}


.paging-div{
	margin-top: 28px;
}

/* 페이징 부분 가운데 정렬 */
.pagination-ul{
	justify-content: center;
}
.pagination-ul>li{
	margin-right:5px;
}
/* 현재 눌려있는 페이지 버튼 */
.active-btn{
	border: 1px solid #5055b1;
    border-radius: 6px;
    width: 35px;
    height: 35px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.active-btn>a{
	font-size:16px;
	color: #5055b1;
	text-decoration: none;
    font-weight: 700;
}

/* 눌려있지 않은 페이지 버튼 */
.non-active-btn{
	/* border: 1px solid #c8c8c8; */
    border-radius: 6px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.non-active-btn>a{
	font-size:16px;
	color: #b1b1b1;
	text-decoration: none;
}
/* 한 row 이전으로 가는 <버튼 */
.pre-btn{
	border-radius: 6px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;	
}
.pre-btn>a{
		font-size: 16px;
	color: #5055b1;
    text-decoration: none;
}

/* 한 row 다음으로 가는 >버튼 */
.next-btn{
	border-radius: 6px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-btn>a{
	font-size: 16px;
	color: #5055b1;
    text-decoration: none;
}